{% extends 'LineStormCmsBundle:Admin:layout.html.twig' %}

{% import _self as fn %}
{% macro dzPreview(child) %}
    {% spaceless %}
        <div class="dz-preview">
            <div class="panel-left">
                <img class="dz-image" data-dz-thumbnail {% if child %}src="{{ child.image.offsetGet('src').vars.value }}"{% endif %} />
                <a class="dz-remove" href="javascript:undefined;" data-dz-remove><i class="fa-times"></i> Remove</a>
            </div>
            <div class="dz-details">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    </div>
                </div>
                {% if not child %}
                    <div class="row">
                        <div class="col-xs-4">
                            <strong>Details:</strong>
                        </div>
                        <div class="col-xs-8">
                            <div class="dz-size" data-dz-size>Uploaded</div>
                        </div>
                    </div>
                {% endif %}
                <div class="dz-image-form" data-prototype="<div>__widget__</div>" data-count="0">
                    {% if child %}{{ form_row(child) }}{% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% block head %}
    {% block requirejs %}
        {{
            include('AndyPortfolioBundle::requirejs.html.twig', {
                requirejs_module: ['/assets/bundles/linestormcms/js/main', '/assets/bundles/linestormmedia/js/media']
            })
        }}
    {% endblock %}


    {% stylesheets
        filter="compass" output="assets/bundles/linestormmedia/css/media.css"
        "@LineStormMediaBundle/Resources/assets/sass/media.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block module %}

    <div id="FormErrors" class="alert alert-danger" style="display: none;">

    </div>

    {{ form_start(form, {attr: { class: 'api-save'} }) }}

        <div class="row">
            <div class="col-xs-12">
                <div class="img-preview">
                    <img src="{{ form.src.vars.value }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="dropzone" data-url="{% if image %}{{ path('linestorm_cms_admin_module_media_upload_edit', {id:image.id}) }}{% else %}{{ path('linestorm_cms_admin_module_media_upload') }}{% endif %}" data-prototype="{{ fn.dzPreview()|e('html_attr') }}"></div>
            </div>
        </div>

        <div class="media-form"{% if not image %} style="display: none;"{% endif %}>
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}

            <hr />

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default post-save">Save</button>
                </div>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
