{% extends 'LineStormBlogBundle:Admin:layout.html.twig' %}
{% block page_title %}Edit Media{% endblock %}
{% block page_desc %}{% endblock %}

{% import _self as fn %}
{% macro dzPreview(child) %}
    {% spaceless %}
        <div class="dz-preview">
            <div class="panel-left">
                <img class="dz-image" data-dz-thumbnail {% if child %}src="{{ child.image.offsetGet('src').vars.value }}"{% endif %} />
                <a class="dz-remove" href="javascript:undefined;" data-dz-remove><i class="fa-times"></i> Remove</a>
            </div>
            <div class="dz-details">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    </div>
                </div>
                {% if not child %}
                    <div class="row">
                        <div class="col-xs-4">
                            <strong>Details:</strong>
                        </div>
                        <div class="col-xs-8">
                            <div class="dz-size" data-dz-size>Uploaded</div>
                        </div>
                    </div>
                {% endif %}
                <div class="dz-image-form" data-prototype="<div>__widget__</div>" data-count="0">
                    {% if child %}{{ form_row(child) }}{% endif %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% block content %}

    {% stylesheets
        '@LineStormMediaBundle/Resources/public/css/dropzone.css'
        filter='cssrewrite' output='compiled/css/media.css' %}
     <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
        '@LineStormBlogBundle/Resources/public/js/api.js'
        '@LineStormMediaBundle/Resources/public/js/dropzone.js'
        output='compiled/js/media.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <style type="text/css">
        .img-preview {
        }
        .img-preview > img {
            margin: auto;
            position: relative;
            display: block;
            max-height: 400px;
            max-width: 100%;
        }
        .dropzone {
            max-height: 400px;
            height: 100%;
            margin: 20px 0;
            min-height: 200px;
        }
    </style>

    <script type="text/javascript">

        // setup dropzone
        Dropzone.autoDiscover = false;

        var $form;
        var $dropzone;
        var carrosselDropZone;

        var parseError = function(e, p){
            if(p === undefined){
                p = 'error';
            }
            var errors = {}, childErrors;
            for(var i in e){
                if(i === 'errors'){
                    errors[p] = e[i];
                } else if ("string" === typeof e[i] || e[i] instanceof Array){
                    errors[i] = e[i];
                } else {
                    childErrors = parseError(e[i], i);
                    for (var attrname in childErrors) { errors[attrname] = childErrors[attrname]; }
                }
            }

            return errors;
        };

        $(document).ready(function(){
            $form = $('form[name="linestorm_blog_form_media"]');
            $dropzone = $('.dropzone');

            carrosselDropZone = new Dropzone($dropzone[0], {
                url: $dropzone.data('url'),
                maxFiles: 1,
                acceptedFiles: 'image/*',
                init: function(){
                    this.on("success", function(file, response) {
                        if(file.xhr.status == 200){
                            alert('An identical file already exists.');
                        } else {
                            $form.find('.img-preview > img').attr('src', response.src);
                            $form.find('input[name*="[src]"]').val(response.src);
                            $form.find('input[name*="[hash]"]').val(response.hash);
                            $form.find('input[name*="[title]"]').val(response.title);
                            $('.media-form').slideDown();
                            $dropzone.hide();
                        }
                        this.removeFile(file);

                    });
                    this.on("error", function(file, response) {
                        this.removeFile(file);
                        alert("Cannot add file: "+response);
                    });
                },
                previewTemplate: "{{ fn.dzPreview()|e('js') }}"
            });

            $form.on('submit', function(e){
                e.preventDefault();
                e.stopPropagation();
                $('#FormErrors').slideUp(function(){ $(this).html(''); });
                window.lineStorm.api.saveForm($form, function(on, status, xhr){
                    if(xhr.status === 200){
                        alert('updated!');
                    } else if(xhr.status === 201) {
                        alert('created!');
                    } else {
                        alert('saved ('+xhr.status+')!');
                    }
                }, function(e, status, ex){
                    if(e.status === 400){
                        if(e.responseJSON){
                            var errors = parseError(e.responseJSON.errors);
                            var str = '';
                            for(var i in errors){
                                if(errors[i].length)
                                    str += "<p class=''><strong style='text-transform:capitalize;'>"+i+":</strong> "+errors[i].join(', ')+"</p>";
                             }
                            $('#FormErrors').html(str).slideDown();
                        } else {
                            alert(status);
                        }
                    }
                });

                return false;
            });
        });

    </script>


    <div id="FormErrors" class="alert alert-danger" style="display: none;">

    </div>

    {{ form_start(form) }}

        <div class="row">
            <div class="col-xs-12">
                <div class="img-preview">
                    <img src="{{ form.src.vars.value }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="dropzone" data-url="{{ path('linestorm_blog_admin_module_media_media_upload') }}"></div>
            </div>
        </div>

        <div class="media-form" style="display: none;">
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}

            <hr />

            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default post-save">Save</button>
                </div>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}
